<html>
  <head>
    <title>Photo Gallery App</title>
    <link rel="stylesheet" href="css/tailwind.css" />
  </head>
  <div class="text-black">
   {% include header.liquid %}
  </div>
  <div>
    <body class="text-blue-100">
      <div>
        {{ content }}
      </div>
    </body>
  </div>
  <div class="text-black">
   {% include footer.liquid %}
  </div>
</html>